* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(https://images.unsplash.com/photo-1529511582893-2d7e684dd128?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2833&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

.content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto 0;
}

.container {
    height: 50%;
    margin: 0 auto 5px;
    padding: 30px;
    background-color: rgba(212, 235, 255, 0.5);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
}

.header {
    margin: 0 auto 20px;
}

.city {
    color: rgb(98, 97, 97);
}

.city:not(:last-child) {
    padding-right: 15px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 0.1rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-right: 5px;
    padding: 7px;
    width: 55%;
}

.input-group ::placeholder {
    color: rgb(179, 179, 179);
}

button {
    text-decoration: none;
    border: none;
    outline: none;
}

button:hover,
button:focus {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border: none;
    outline: none;
}

.btn-search {
    background-color: rgb(69, 154, 250);
    border-radius: 0.1rem;
    color: #fff;
    padding: 7px;
    margin-right: 5px;
}

.btn-search:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-current {
    background-color: rgb(49, 202, 80);
    border-radius: 0.1rem;
    color: #fff;
    padding: 7px;
}

.btn-current:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 0;
}

.card1-title {
    font-size: 36px;
    font-weight: 500;
    color: rgb(22, 81, 171);
    margin: 30px 0 5px 0;
}

.card1-items {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: rgba(98, 97, 97, 0.8);
}

.card1-text {
    font-size: 12px;
    font-weight: 100;
    color: rgba(98, 97, 97, 0.8);
    margin: 0;
}

.card2 {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 0;
}

#icon {
    margin-right: 5px;
    opacity: 0.6;
}

.forecast-icon {
    opacity: 0.6;
}

.card2-title {
    display: flex;
    flex-direction: row;
}

.text-title {
    font-size: 36px;
    font-weight: 500;
    color: rgb(22, 81, 171);
    margin: 0 5px 0 0;
}

.temp-links {
    font-size: 14px;
    font-weight: 100;
    color: rgba(98, 97, 97, 0.8);
}

.unitC {
    font-size: 14px;
    font-weight: 500;
    color: rgba(98, 97, 97, 0.8);
}

.temp-links .active {
    color: rgb(22, 81, 171);
    cursor: default;
}

.temp-links .active:hover,
.temp-links .active:focus {
    text-decoration: none;
}

.unitF {
    font-size: 14px;
    font-weight: 500;
    color: rgba(98, 97, 97, 0.8);
}

.text {
    display: flex;
    flex-direction: column;
}

.text-item {
    margin: 0;
    font-size: 8px;
    font-weight: 100;
    color: rgba(98, 97, 97, 0.8);
}

.carousel {
    max-height: 100%;
}

.carousel-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.weather-forecast,
.row {
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 97px;
    height: 140px;
    padding: 0;
}

.col-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.col-2:first-child {
    background-color: rgba(115, 115, 115, 0.3);
    border-radius: 0.25rem;
}


.weather-forecast-date {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    margin: 15px 0 10px 0;
}

.weather-forecast-temperature-min {
    color: rgba(255, 255, 255, 0.8);
}

.weather-forecast-temperatures {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    margin: 10px 0 15px 0;
}

.weather-forecast-temperature-max {
    margin-right: 3px;
}

.item-icon {
    max-height: 33.333%;
}

.open-source {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.open-source-link {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.open-source-link:hover,
.open-source-link:focus {
    text-decoration: none;
    cursor: pointer;
    color: rgba(15, 66, 121, 0.8);
}


@media (max-width: 580px) {
    .content {
        max-width: none;
        margin: 10% 10px 0;
    }

    .container {
        padding: 10px 15px;
    }

    .hide:not(last-child) {
        margin-right: 10px;
    }

    .hide:last-child {
        display: none;
    }

    .card1-title,
    .text-title {
        font-size: 28px;
    }

    .weather-forecast-date {
        font-size: 12px;
    }

    .weather-forecast-temperatures {
        font-size: 10px;
    }

    .forecast-icon {
        width: 40px;
    }

    #icon {
        width: 70px;
    }

    .form-control,
    .btn-search,
    .btn-current {
        font-size: 12px;
    }

    .row {
        margin-left: -5px;
    }
}